.todo-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #888; /* Always visible border */
  background: #ffffff00;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s, border 0.2s;
  margin-top: 1px;
  box-sizing: border-box;
}

.todo-circle.done {
  /* background: #7bc96f03; */
  border-color: #68af5d;
}

/* Apply Caveat font to todo title */
.todo-title {
  font-size: 1.12rem;
  line-height: 1.3rem;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #c1c1c15e; /* Always visible underline */
  padding-bottom: 3px;
  background: transparent;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s;
  font-family: var(--font-caveat);
  font-weight: 400;
  /* border-radius: 6px;
  border: 1px solid transparent; */
  border: none;
  outline: none !important;
}

.strike-lower {
  text-decoration: line-through;
  text-decoration-thickness: 1.1px;
  text-decoration-color: #35343460;
  text-decoration-skip-ink: none;
  text-underline-offset: 0px;
  color: #35343460 !important;
}

.completed-todo {
  color: #35343460 !important;
  transition: color 0.15s, transform 0.15s;
}

.date-large {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.01em;
}

.hit-area {
  width: 38px !important;
  height: 38px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.circle-inner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #888;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s, border 0.2s;
}

.todo-circle.done .circle-inner {
  background: transparent;
  border-color: #68af5d;
}

.todo-faded {
  opacity: 0.6;
  transition: opacity 0.15s;
}

.strike-lower.completed-todo {
  text-decoration: line-through;
  text-decoration-thickness: 1.1px;
  text-decoration-color: #35343460;
  text-decoration-skip-ink: none;
  text-underline-offset: 0px;
  color: #35343460 !important;
  transition: color 0.15s, transform 0.15s;
}

.todo-description {
  overflow: hidden; /* hide scrollbar */
  resize: none;     /* already set inline */
  line-height: 20px;
  font-family: var(--font-caveat);
  font-weight: 400;
  min-height: 1.3rem;
  margin-top: 0;
  font-size: 1rem;
  border: none;
  outline: none !important;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.todo-description {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

.todo-description::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.todo-description textarea {
  overflow: hidden;
}

/* Remove border on focus for todo title */
.todo-title:focus {
  outline: none;
}

/* Remove border on focus for todo description */
.todo-description:focus {
  outline: none !important;
}